<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>850310015656-mhq1q2544nbi7k8ivkkpe3q6tbt7ech4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.850310015656-mhq1q2544nbi7k8ivkkpe3q6tbt7ech4</string>
	<key>API_KEY</key>
	<string>AIzaSyAildcUSXz3g7ZtDwq67xkU_JZ8n78JHoM</string>
	<key>GCM_SENDER_ID</key>
	<string>850310015656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adipranata.airplane</string>
	<key>PROJECT_ID</key>
	<string>airplane-d62cb</string>
	<key>STORAGE_BUCKET</key>
	<string>airplane-d62cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:850310015656:ios:da33a59af8e8a12d5a709d</string>
</dict>
</plist>